In [1]:
import pandas as pd
import censusdata

In [2]:
zvhi_df = pd.read_csv("../data/raw/Zip_zhvi_uc_sfrcondo_tier_0.33_0.67_sm_sa_month.csv")
zvhi_df.sample(5)

,RegionID,SizeRank,RegionName,RegionType,StateName,State,City,Metro,CountyName,2000-01-31,...,2024-07-31,2024-08-31,2024-09-30,2024-10-31,2024-11-30,2024-12-31,2025-01-31,2025-02-28,2025-03-31,2025-04-30
3674,91682,3714,77033,zip,TX,TX,Houston,"Houston-The Woodlands-Sugar Land, TX",Harris County,59455.84437,...,159093.070551,157516.739225,155552.597900,154512.757504,153873.074758,153818.507789,153104.887188,151666.782449,149102.233614,145885.706568
2899,84755,2932,61008,zip,IL,IL,Belvidere,"Rockford, IL",Boone County,NaN,...,232587.919610,234009.261640,235451.534150,236932.111632,238364.870477,240391.795453,242270.013174,243991.252472,244934.363168,245556.348580
22818,83006,24037,56673,zip,MN,MN,Roosevelt,NaN,Roseau County,NaN,...,177489.269241,177007.268034,176424.040968,177499.974477,178298.849588,179929.038635,181943.439804,184135.510393,185267.429135,184434.840527
22629,87051,23799,66033,zip,KS,KS,Greeley,"Ottawa, KS",Anderson County,NaN,...,194202.472039,196106.221718,197181.278783,198403.535487,199349.360109,201211.739713,202343.483305,202792.069128,201889.079469,200969.086601
9580,69418,9703,27569,zip,NC,NC,Princeton,"Raleigh-Cary, NC",Johnston County,NaN,...,274883.308712,274120.137522,273310.416198,272823.692173,272576.559052,273242.790557,274109.662085,274979.949121,275038.045647,274636.885056

In [3]:
zori_df = pd.read_csv("../data/raw/Zip_zori_uc_sfrcondomfr_sm_month.csv")
zori_df.sample(5)

,RegionID,SizeRank,RegionName,RegionType,StateName,State,City,Metro,CountyName,2015-01-31,...,2024-07-31,2024-08-31,2024-09-30,2024-10-31,2024-11-30,2024-12-31,2025-01-31,2025-02-28,2025-03-31,2025-04-30
6638,63955,9223,15224,zip,PA,PA,Pittsburgh,"Pittsburgh, PA",Allegheny County,NaN,...,1458.939594,1472.037711,1456.370566,1489.136757,1476.538327,1513.744294,1507.418793,1514.324425,1504.494577,1531.483766
5232,90042,6106,73501,zip,OK,OK,Lawton,"Lawton, OK",Comanche County,NaN,...,1142.782845,1164.478043,1192.874387,1159.684196,1138.272682,1171.605021,1209.507790,1226.883165,1208.377011,1168.365079
6308,96293,8182,91105,zip,CA,CA,Pasadena,"Los Angeles-Long Beach-Anaheim, CA",Los Angeles County,NaN,...,3193.724964,3196.793755,3186.164488,3240.311054,3288.112333,3283.624057,3334.866852,3348.869483,3442.760896,3422.166667
1704,91253,1789,76108,zip,TX,TX,Fort Worth,"Dallas-Fort Worth-Arlington, TX",Tarrant County,990.137865,...,1826.937270,1831.158212,1833.528582,1813.958612,1801.924160,1780.755947,1779.619347,1790.905290,1825.141223,1838.801587
1634,95909,1716,89431,zip,NV,NV,Sparks,"Reno, NV",Washoe County,729.440052,...,1483.990089,1503.589832,1529.150031,1519.782653,1524.577262,1509.865050,1521.536581,1511.589130,1509.505721,1507.027778

In [4]:
census_df = censusdata.download('acs5', 2022, censusdata.censusgeo([('zip code tabulation area', '*')]), ['B19013_001E'])
census_df.reset_index(inplace=True)
census_df["zip"] = census_df["index"].astype(str).str.extract(r'(\d{5})')
census_df = census_df[["zip", "B19013_001E"]].rename(columns={"B19013_001E": "median_income"})
census_df["median_income"] = census_df["median_income"].replace(-666666666, pd.NA)

census_df.sample(5)

         zip median_income
22685  64158        101189
4879   15922          <NA>
2982   11702        134602
12459  37811         48108
14045  43031        100979